NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZW5hYmxpbmctbWFtbWFsLTcuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_ut3DunaySGbYEp65i3XZ5nBBNb2pbUFnChByMGLsER
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
DATABASE_URL="mysql://avnadmin:AVNS_pvHcQ9CL22jYKEnKaGu@mysql-goodwill-app-goodwill-app.a.aivencloud.com:14698/defaultdb?ssl-mode=REQUIRED"

#Uploadthing keys https://uploadthing.com/
UPLOADTHING_SECRET=sk_live_7d90f4419c4ab76c9b0502895131bbfba9428e6192cb74742c12c38d77b26709
UPLOADTHING_APP_ID=z2rfs5id7d


#MUX keys https://mux.com/
MUX_TOKEN_ID=ad65a6a3-4720-49c8-82e7-adcf326647e6
MUX_TOKEN_SECRET=dm0cqI8zE5fMMFZ2OWhZwk5v0kY6h4ts7F0Wv2MnrZwK7vFJ1n3qjnq3llO/mCn+5nxWkyh3+q8

#Stripe keys
STRIPE_API_KEY=sk_test_51O5qbKHV2CXOnB5lzmeK7tp1AaAs8BydDRA4h5xDTxyD1oYMvWIFag0SlEV5H2LsX3VU7VaF34mPgHgKOMDewcd100qIVQAsCg
STRIPE_WEBHOOK_SECRET=whsec_0eaf508acea3a042598260cf252b415ae7a818a22cabbb31655213ed79d730f9

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_TEACHER=user_2WqzwZVo1TIP63zPRjlmNW2UlYi

NEXT_PUBLIC_CHATWOOT_BASE_URL=https://cs.gwcindia.live
NEXT_PUBLIC_CHATWOOT_WEB_TOKEN=user_2WqzwZVo1TIP63zPRjlmNW2UlYi

GOOGLE_CLIENT_ID=dksdkskddjsdjsdkdlskld
GOOGLE_CLIENT_SECRET=abckdjskdjksd

RESEND_API_KEY=re_3QnUZDfV_LZ4H6yXGsW12iyQ2Fn8Yb28Y

NEXTAUTH_SECRET=user_2WqzwZVo1TIP63zPRjlmNW2UlYi
NEXTAUTH_URL=http://localhost:3000