.bg-linear-landing,
.bg-btn-main,
.bg-landing {
  background: linear-gradient(90deg, #7f66e9 0%, #083996 100%) !important;
}

@media screen and (min-width: 480px) {
  .bg-landing {
    background: none !important;
  }
}

/* For carousel */
.landing-box-shadow {
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
    0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}

/* For collapsible */
.CollapsibleContent {
  overflow: hidden;
}
.CollapsibleContent[data-state="open"] {
  animation: slideDown 300ms ease-out;
}
.CollapsibleContent[data-state="closed"] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

.webinar-text-theme {
  background: -webkit-linear-gradient(90deg, #07021c 0%, #083996 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-theme {
  background: -webkit-linear-gradient(90deg, #7f66e9 0%, #083996 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* main page styles */

.courses_box_wrapper {
  display: block;
  background: linear-gradient(white, #fff) padding-box,
    linear-gradient(to bottom, #bcdefc, rgba(255, 141, 33, 0.58)) border-box;
  border: 2px solid transparent;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0 10px 30px rgba(29, 69, 138, 0.2);
  transition: 0.3s;
}

.courses_box_wrapper:hover {
  box-shadow: 0 15px 30px rgba(29, 69, 138, 0.3);
}
/* main page styles */
